@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

::-webkit-scrollbar {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: "Inter", sans-serif;
	line-height: 1.7rem;
}

body {
	min-height: 100vh;
	display: flex;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button {
	font: inherit;
}

:root {
	/* --------------------------- */
	--Soft-orange: hsl(35, 77%, 62%);
	--Soft-red: hsl(5, 85%, 63%);
	/* --------------------------- */
	--Off-white: hsl(36, 100%, 99%);
	--Grayish-blue: hsl(233, 8%, 79%);
	--Dark-grayish-blue: hsl(236, 13%, 42%);
	--Very-dark-blue: hsl(240, 100%, 5%);
}

/* ==================================================== */

body,
nav,
.container,
.dropdown {
	background-color: var(--Off-white);
}

.container {
	padding: 0 1rem 2rem 1rem;
	min-width: 375px;
}

nav {
	top: 0;
	display: flex;
	position: sticky;
	align-items: center;
	padding-block: 1.85rem;
	justify-content: center;
	justify-content: space-between;
	background-color: var(--Off-white);
}

nav .nav-logo-icon {
	width: 44px;
}

nav .nav-menu-icon {
	width: 40px;
	cursor: pointer;
}

header {
	display: grid;
	gap: 1.5rem;
	margin-bottom: 4rem;
}

header h1 {
	font-size: 2.7rem;
	font-weight: 800;
	line-height: 3rem;
}

header .header-info {
	display: grid;
	gap: 1.5rem;
}
header .header-info .description {
	display: grid;
	gap: 1.5rem;
}
header .header-info p {
	text-wrap: pretty;
	color: var(--Dark-grayish-blue);
}

header a {
	width: 50%;
	color: white;
	cursor: pointer;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	padding-block: 0.6rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	background-color: var(--Very-dark-blue);
}

header a:hover {
	background-color: var(--Soft-red);
}

/* ========================================= */

aside {
	margin-bottom: 4rem;
	padding: 2rem 1.5rem 0.2rem 1.5rem;
	background-color: var(--Very-dark-blue);
	color: white;
}

aside .aside-box {
	margin-block: 1.8rem;
}

aside hr {
	border: none;
	border-top: 1px solid var(--Dark-grayish-blue);
	/* width: 100%; */
}

aside h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
	color: var(--Soft-orange);
}

aside h3 {
	font-size: 1.3rem;
	margin-bottom: 0.6rem;
	color: var(--Off-white);
}

aside p {
	text-wrap: pretty;
	color: var(--Grayish-blue);
}

/* ========================================= */

.article-box {
	gap: 1.5rem;
	display: flex;
	cursor: pointer;
	margin-bottom: 2rem;
}

.article-box img {
	height: 8rem;
}

.article-box .article-info {
	display: grid;
	gap: 0.5rem;
	align-content: start;
}

.article-box .article-info h2 {
	font-size: 2.4rem;
	margin-bottom: 0.5rem;
	color: var(--Grayish-blue);
}

.article-box .article-info h3 {
	font-size: 1.15rem;
	font-weight: 800;
}
.article-box .article-info p {
	color: var(--Dark-grayish-blue);
}
/* ========================================= */

.dropdown {
	top: 0;
	opacity: 0;
	gap: 4.5rem;
	width: 65vw;
	right: -20px;
	display: grid;
	height: 100vh;
	position: fixed;
	justify-items: end;
	pointer-events: none;
	padding: 2rem 1rem;
	align-content: start;
	transition: all 200ms;
	z-index: 5;
	background-color: white;
}

.nav-menu-icon.active + .dropdown {
	right: 0;
	opacity: 1;
	pointer-events: auto;
}

.dropdown-background {
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	min-height: 100vh;
	cursor: none;
	position: fixed;
	min-height: 100vh;
	pointer-events: none;
	background-color: black;
}

.dropdown-background.active {
	z-index: 1;
	opacity: 0.5;
	pointer-events: auto;
}

.menu-list {
	gap: 0rem;
	width: 100%;
	display: grid;
	font-weight: 600;
}

.menu-list a {
	font-size: 16px;
}

.menu-list .option {
	transition: 25ms;
	padding: 0.7rem 10px;
}

.menu-list .option:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-close-icon {
	cursor: pointer;
	text-align: end;
	width: 30px;
}

.attribution {
	display: none;
}

/*! ============== MEDIAQUERY ============== */

@media screen and (min-width: 700px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container {
		/* padding-block: 2rem; */
		display: grid;
		min-width: 1100px;
		max-width: 1100px;
	}

	nav,
	.dropdown {
		background-color: var(--Off-white);
	}

	nav {
		display: flex;
		position: static;
		align-items: center;
		margin-bottom: 1rem;
		padding-block: 1.4rem;
		justify-content: space-between;
	}

	nav .dropdown {
		gap: 0;
		padding: 0;
		opacity: 1;
		width: 100%;
		height: 50px;
		display: flex;
		position: static;
		flex-direction: row;
		justify-content: end;
		align-items: center;
		pointer-events: auto;
	}

	nav .menu-list {
		width: 50%;
		display: flex;
		text-align: end;
		align-items: end;
		justify-content: end;
	}

	nav .menu-list .option {
		padding: 0 0;
		cursor: pointer;
		text-align: end;
		margin-left: 2.1rem;
		color: var(--Dark-grayish-blue);
	}

	nav .menu-list .option:hover {
		color: black;
		background-color: white;
	}

	nav .nav-menu-icon {
		display: none;
		position: absolute;
	}

	nav .dropdown-close-icon {
		position: absolute;
		display: none;
	}

	main {
		gap: 1.5rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr 150px;
		grid-template-areas:
			"header header aside"
			"header header aside"
			"articleOne articleTwo article";
	}
	header {
		gap: 2rem;
		display: grid;
		grid-area: header;
	}

	header h1 {
		font-size: 3.5rem;
		text-wrap: balance;
		line-height: 3.5rem;
	}

	header .header-info {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
	}

	aside {
		grid-area: aside;
		margin-bottom: 4rem;
	}

	.attribution {
		display: block;
		left: 50%;
		bottom: 1px;
		position: absolute;
		transform: translateX(-50%);
	}

	.attribution,
	a {
		font-size: 0.8rem;
		text-wrap: nowrap;
		color: rgba(0, 0, 0, 0.767);
	}
}
