@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: "Inter", sans-serif;
	line-height: 1.7rem;
}

body {
	min-height: 100vh;
	display: flex;
	/* ! */
	align-items: start;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button {
	font: inherit;
}

:root {
	/* --------------------------- */
	--Soft-orange: hsl(35, 77%, 62%);
	--Soft-red: hsl(5, 85%, 63%);
	/* --------------------------- */
	--Off-white: hsl(36, 100%, 99%);
	--Grayish-blue: hsl(233, 8%, 79%);
	--Dark-grayish-blue: hsl(236, 13%, 42%);
	--Very-dark-blue: hsl(240, 100%, 5%);
}

/* ==================================================== */

.container {
	padding: 0 1rem 5rem 1rem;
	min-width: 375px;
}

nav {
	top: 0;
	display: flex;
	position: sticky;
	z-index: auto;
	align-items: center;
	padding-block: 1.85rem;
	justify-content: center;
	justify-content: space-between;
	background-color: var(--Off-white);
}

nav .nav-logo-icon {
	width: 44px;
}

nav .nav-menu-icon {
	width: 40px;
	cursor: pointer;
}

main {
	display: grid;
	gap: 4rem;
}

header {
	display: grid;
	gap: 1.5rem;
}

header h1 {
	font-size: 2.7rem;
	font-weight: 800;
	line-height: 3rem;
}

header .header-info {
	display: grid;
	gap: 1.5rem;
}

header .header-info p {
	color: var(--Dark-grayish-blue);
}

header a {
	width: 50%;
	color: white;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	padding-block: 0.6rem;
	letter-spacing: 0.2rem;
	background-color: var(--Very-dark-blue);
	text-transform: uppercase;
}

header a:hover {
	background-color: var(--Soft-red);
}

/* ========================================= */

aside {
	padding: 2rem 1.5rem 0 1.5rem;
	background-color: var(--Very-dark-blue);
	color: white;
}

aside .aside-box {
	margin-block: 1.8rem;
}

aside hr {
	border: none;
	border-top: 1px solid var(--Dark-grayish-blue);
	/* width: 100%; */
}

aside h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
	color: var(--Soft-orange);
}

aside h3 {
	font-size: 1.3rem;
	margin-bottom: 0.6rem;
	color: var(--Off-white);
}

aside p {
	text-wrap: pretty;
	color: var(--Grayish-blue);
}

/* ========================================= */

article {
	display: grid;
	gap: 2rem;
}

article img {
	height: 8.5rem;
}

article .article-box {
	display: flex;
	gap: 1.5rem;
}

article .article-box .article-info {
	display: grid;
	gap: 0.5rem;
	align-content: start;
	padding-block: 0.3rem;
}

article .article-box .article-info h2 {
	font-size: 2.4rem;
	margin-bottom: 0.5rem;
	color: var(--Grayish-blue);
}

article .article-box .article-info h3 {
	font-size: 1.15rem;
	font-weight: 800;
}

/* ========================================= */

.dropdown {
	top: 0;
	opacity: 0;
	gap: 4.5rem;
	width: 65vw;
	right: -20px;
	display: grid;
	height: 100vh;
	position: fixed;
	justify-items: end;
	pointer-events: none;
	padding: 2rem 1rem;
	align-content: start;
	transition: all 200ms;
	z-index: 5;
	background-color: white;
}

.nav-menu-icon.active + .dropdown {
	right: 0;
	opacity: 1;
	pointer-events: auto;
}

.dropdown-background {
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	min-height: 100vh;
	cursor: none;
	position: fixed;
	min-height: 100vh;
	pointer-events: none;
	background-color: black;
}

.dropdown-background.active {
	z-index: 1;
	opacity: 0.5;
	pointer-events: auto;
}

.menu-list {
	gap: 0rem;
	width: 100%;
	display: grid;
	font-weight: 600;
}

.menu-list a {
	font-size: 16px;
}

.menu-list .option {
	transition: 25ms;
	padding: 0.7rem 10px;
}

.menu-list .option:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-close-icon {
	cursor: pointer;
	text-align: end;
	width: 30px;
}

/*! ============== MEDIAQUERY ============== */

@media screen and (min-width: 700px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 50px 1fr 250px 150px;
		grid-template-areas: "nav nav nav" "illu illu aside" "heading header-info aside" "article article article";
	}
	nav {
		position: static;
		grid-area: nav;
	}
	.main-illu {
		grid-area: illu;
	}
}
